<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= error.status %></title>
	<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
	<link href="stylesheets/bootstrap.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
	<script src="javascripts/bootstrap.js"></script>
</head>
<body>
	<div class="jumbotron text-center">
	  <h1 class="display-4"><!-- <%= message %> --> <%= error.status %> Error</h1>
	  <p class="lead">
	  	Page you are requesting for cannot be found
	  	<pre><!-- <%= error.stack %> --></pre>
	  </p>
	  <a class="btn btn-info btn-lg" href="/" role="button">back</a>
	</div>
</body>
</html>
