<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%=title%></title>
	<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
	<link href="stylesheets/bootstrap.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
	<script src="javascripts/bootstrap.js"></script>
</head>
<body>