<div class="jumbotron text-center">
  <h1 class="display-4">Hello, Mr. X!</h1>
  <p class="lead">Congratulations. you have successfully installed <%= title %>.<br>
  now you can jump to start development, enjoy.</p>
  <a class="btn btn-info btn-lg" href="#" role="button">node crud app</a>
</div>
<div class="alert alert-danger text-center" role="alert">
  call global function anywhere in project using globalHelper.functionname()
</div>
<div class="alert text-center" role="alert">
  define new global functions in direcotry helpers/globalHelper.js
</div>