<div class="jumbotron text-center">
  <h1 class="display-4"><span id="time"></span></h1>
  <p class="lead">Congratulations. you have successfully installed <%= title %>.<br>
  start development, enjoy.</p>
  <a class="btn btn-info btn-lg" href="javascript:void(0)" role="button">node crud app</a>
  <a class="btn btn-danger btn-lg" href="/documentation" role="button">Documentation</a>
</div>